name: Package and Release

on:
  push:
    tags:
      - '**'

jobs:
  
  release:

    runs-on: ubuntu-latest

    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      # "GITHUB_TOKEN" is a secret automatically provided to the workflow
      # for your own token, the name cannot start with "GITHUB_"
    
    steps:

      # Include submodule on checkout
      - name: Clone Project
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Create Latest Changelog
        uses: kemayo/actions-recent-changelog@v1
        with:
          input: CHANGELOG.md
          output: CHANGELOG-LATEST.md

      - name: Install SVN
        run: sudo apt-get install -y subversion
      
      - name: Package and Release
        uses: BigWigsMods/packager@v2
        with:
          args: -g retail
